.profile-stats {
    justify-content: space-between;
    color: #ffa800;
    border: 2px;
    border-color: #ffa800;
    width: 100%;
    background: #000000c7;
    padding: 4px;
    height: 60px;
    margin-top: -60px;
}

.profile-stat {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile-button {
    width: 40px;
    margin: 6px;
    padding: 8px;
    border-color: #ffa800;
    border-style: solid;
    border-radius: 8px;
    border-width: thin;
}